$Blue: #ffae6b;
$green-nav: #ffae6b;
$fontcolor: #eee;
$border: 0.5rem solid #ff5e00;
$button: #ff4800;

$linear-gradient-defeault: linear-gradient(rgba(255, 81, 0, 0.3), 80%, rgba(255, 55, 0, 0.3));
$border-over: 0.3rem solid #ff5e00;
