@use 'color';
@use 'font';


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: font.$font-main;
    background: color.$primary-color;
    color: color.$text-color;
  }
  
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
  
  
.initials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: color.$primary-color;
    animation: float 3s ease-in-out infinite;
    text-shadow: 
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    &::before {
        content: "asf";
    }
}
   @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  

  header {
    padding: 2rem;
    text-align: center;
    background: color.$secondary-color;
    h1 {
      font-family: font.$font-secondary;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
  
  
  footer {
    padding: 1rem;
    text-align: center;
    background: color.$secondary-color;
    font-family: font.$font-secondary;
    font-size: 0.8rem;
    
    p {
      margin: 0.5rem 0;
    }
    
    .footer-info {
      display: flex;
      justify-content: center;
      gap: 1rem;
      
      span {
        &:not(:last-child):after {
          content: "•";
          margin-left: 1rem;
        }
      }
    }
  }